# pixi environments
.pixi/*
!.pixi/config.toml

# ROS2 build artifacts
build/
install/
log/

# Crisp Controllers build artifacts
src/realsense-ros
src/crisp_controllers
scripts/set_hardware_env.sh
scripts/set_ros_env.sh